@import "lib/extra.scss"
@import "lib/bui.scss"
a[href^="http"] //external links
	color: var(--extlink,lightblue)
	::after
		content: ""
		width: 11px
		height: 11px
		background-image: url(var(--extimg, "/img/extlink.svg"))
		background-position: center
		background-repeat: no-repeat
		background-size: contain
		display: inline-block
body
	@include font("sans")
.header
	margin-left: 2em
	border-top: 1px solid var(--linecol)
	border-bottom: 1px solid var(--linecol)
.content
	padding-left: 2em
	margin-left: 2em
	border-bottom: 1px solid var(--linecol)
