@import "extra.scss"
@font-face
 font-family: 'Science Gothic', monospace
 src: url('font/science-gothic.ttf') format('truetype')
body
 background-color: #00103D
 color: #EAE8E3
.content
 h1
  font-family: 'Science Gothic', monospace
  @include font-settings(345,100,116,0)
  ::before
   content: '#'
